
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115466593-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-115466593-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Proxima Data Control, www.proximadata.io">
    <link rel="icon" type="image/x-icon" href="public/images/favicon.ico" />
    <base href = "" />

    <title>Upright Beats</title>

    <!-- Styles -->
    <link href="public/styles/lib/bootstrap.min.css" rel="stylesheet">
    <link href="public/styles/lib/fontawesome-all.css" rel="stylesheet">
    <link href="public/styles/site.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script src="public/js/lib/jquery-3.2.1.min.js"></script>
    <script src="public/js/lib/lodash.min.js"></script>
    <script src="public/js/lib/bootstrap.bundle.min.js"></script>
    <script src="public/js/lib/jquery-ui.min.js"></script>
    <script src="public/js/lib/angularjs/angular.min.js"></script>
    <script src="public/js/lib/angularjs/angular-resource.min.js"></script>
    <script src="public/js/lib/angularjs/angular-sanitize.min.js"></script>
    <script src="public/js/lib/moment-with-locales.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <script src="https://gumroad.com/js/gumroad.js"></script>

<style>


</style>

</head>

<body class="theme-dark" id="proxima-data-app-5aadc2ba427174001498ade0-element" ng-controller="itemsData" >

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <img class="logo" src="public/images/logo.png"/>
        <a class="navbar-brand" href="/">UPRIGHT BEATS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="https://twitter.com/upright_beats" class="nav-link header-link">
                        <i class="fab fa-twitter twitter"></i> 
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.youtube.com/channel/UC5s0TNCUEEaShv76idWkGZg" class="nav-link header-link">
                        <i class="fab fa-youtube youtube"></i> 
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/upright_beats" class="nav-link header-link">
                        <img src="public/images/InstagramLogo.png" class="small-icon"/>  
                    </a>
                </li>
                <li class="nav-item">
                    <a href="mailto:contact@uprightbeats.com" class="nav-link header-link">
                        <i class="far fa-envelope email"></i> 
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header-link" href="privacy.html" target="_parent">Privacy policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link header-link" href="terms.html" target="_parent">Terms of use</a>
                </li>
                <!-- li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li -->
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="" ng-controller="ctrlPlayer">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4 col-md-8 offset-2">
        <h1 class="display-3">UPRIGHT BEATS</h1>
    </header>
    <div class="container">
        <div class="text-center">
            <h2>Thanks for subscribing!</h2>
            <span>You first email will arrive next Monday</span>
            <br></br>
        </div>
        
        <!--End mc_embed_signup-->
    </div>
    <div class="container">
        <div class="text-center"><h2>Licenses</h2></div>
        <div class="card-deck mb-3 text-center section-license">
            <div class="card mb-4 block-license">
                <div class="header-free">
                    <h5>MP3 Lease</h5>
                    <h3>$35.00 / unit</h3>
                </div>
                <div class="content">
                    <ul>
                        <li>MP3 Version</li>
                        <li>Royalty Free</li>
                        <li>Duration permanent</li>
                        <li>Upright Beats keeps full rights</li>
                        <li>Distribution limit 2,000 copies</li>
                        <li>One commercial use only</li>
                    </ul>
                </div>
                <div class="button">
                    <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" ng-click="showFullLicense('mp3')">Read license</button>
                </div>
            </div>
            <div class="card mb-4 block-license">
                <div class="header-mp3">
                    <h5>Tracked out Lease</h5>
                    <h3>$99.00 / unit</h3>
                </div>
                <div class="content">
                    <ul>
                        <li>Trackout + MP3 Version</li>
                        <li>Royalty Free</li>
                        <li>Duration permanent</li>
                        <li>Upright Beats retains full rights</li>
                        <li>Distribution limit 10,000 copies</li>
                        <li>Three commercial uses only</li>
                    </ul>
                </div>
                <div class="button">
                    <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" ng-click="showFullLicense('trackedout')">Read license</button>
                </div>
            </div>
            <div class="card mb-4 block-license">
                <div class="header-trackedout">
                    <h5>Unlimited Lease</h5>
                    <h3>$199.00 / unit</h3>
                </div>
                <div class="content">
                    <ul>
                        <li>Trackout + MP3 Version</li>
                        <li>Royalty Free</li>
                        <li>Duration permanent</li>
                        <li>Upright Beats retains full rights</li>
                        <li>Unlimited distribution</li>
                        <li>Unlimited commercial use</li>
                    </ul>
                </div>
                <div class="button">
                    <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" ng-click="showFullLicense('unlimited')">Read license</button>
                </div>
            </div>
            <div class="card mb-4 block-license">
                <div class="header-exclusive">
                    <h5>Exclusive Lease</h5>
                    <h3>Make an offer</h3>
                </div>
                <div class="content">
                    <ul>
                        <li>Want a custom file</li>
                        <li>Can't find a beat on the site</li>
                    </ul>
                </div>
                <div class="button">
                    <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" ng-click="showFullLicense('exclusive')">Read license</button>
                </div>
            </div>
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="modalLicenseText"
        aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{license.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
            </div>
        </div>
    </div>

    <audio controls id="playerObject" hidden="hidden">
        <source type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Enter generated script here -->
    <div class="row text-center">
        <script src="https://www.proximadata.io/userapi/applogic/5aadc2ba427174001498ade0/type/angularjs/user/5aa580129d800a0014184edb/code/"></script>
        <div class="col-md-10 offset-1">
            <table class="table proxima-data-container-5aadc2ba427174001498ade0">
                <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="field in fields">
                            {{field.name}}
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                            <td>
                                <i class="fa fa-play icon-button" ng-click="playTrack($index)" id="button_{{item._id}}"
                                    ng-class="{'fa-play': playingItem._id != item._id, 'fa-pause':playingItem._id == item._id}">
                                </i>
                            </td>
                        <td ng-repeat="field in fields">
                            <div class="block-item" ng-class="{'field-name': field.name == 'Name'}" bind-html-compile="item[field.name].view"></div>
                        </td>
                        <td>
                            <a ng-show="item['GumroadLink']" class="button-buy" 
                                href="{{item['GumroadLink']}}">Buy now</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5">
    <div class="container text-center container-social">
        <div class="social-link">
            <a href="https://twitter.com/upright_beats">
                <i class="fab fa-twitter twitter"></i>Twitter
            </a>
        </div>
        <div class="social-link">
            <a href="https://www.youtube.com/channel/UC5s0TNCUEEaShv76idWkGZg">
                <i class="fab fa-youtube youtube"></i>Youtube channel
            </a>
        </div>
        <div class="social-link">
            <a href="https://www.instagram.com/upright_beats">
                <img src="public/images/InstagramLogo.png" class="small-icon"/>Instagram
            </a>
        </div>
        <div class="social-link">
            <a href="mailto:contact@uprightbeats.com">
                <i class="far fa-envelope email"></i>Email me
            </a>
        </div>
    </div>
    <div class="container text-center">
        <p class="m-0 text-center text-white block-legal">Copyright &copy; UPRIGHT BEATS 2018, &copy; 
            <a href="https://www.proximadata.io" class="copyright-link" target="_blank">Proxima Data Control</a> 2018 
            <span class="links-legal">
                <a href="privacy.html" target="_parent">Privacy policy</a><a href="terms.html" target="_parent">Terms of use</a>
            </span>
        </p>
    </div>
</footer>
<div class="player row">
        <div class="col-md-6 offset-1 player-block">
            <div class="player-buttons col-md-4 text-right">
                <i class="fas fa-step-backward" ng-click="prevTrack()"></i>
                <i class="fas" ng-class="{'fa-play': playingItem == null, 'fa-pause':playingItem != null}"
                    ng-click="playPause()"></i>
                <i class="fas fa-step-forward" ng-click="nextTrack()"></i>
            </div>
            <div class="col-md-7">
                <input type="range" min="1" max="{{currentDuration}}" ng-model="currentTime" class="slider slider-time" id="rangeTrack">
                <span class="time-position player-text">{{currentTimePosition}}</span>
            </div>
        </div>
        <div class="col-md-2 player-block">
            <div class="player-buttons">
                <i class="fas fa-volume-up"></i>
            </div>
            <div>
                <input type="range" min="0" max="10" ng-model="currentVolume" class="slider" id="rangeVolume">
            </div>
        </div>
        <div class="col-md-3 player-text text-left">
            {{playingItem["Name"].value}}
        </div>
    </div>
<script src="public/js/servicePlayer.js"></script>
</div>
</body>
</html>
